.msg-history {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.msg-history:nth-child(even){
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
}

.msg {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 70%;
    padding: 0.5rem;
    background-color: #f1f1f1;
}