.br-0 {
  border-radius: 0 !important;
}

.default-layout {
  display: grid;
  grid-template-rows: 1fr 12fr;
  grid-template-areas: "header" "main" "footer";
  height: 100vh;
}

.header {
  grid-area: header;
  background-color: #fff;
}

.main {
  grid-area: main;
  background-color: #fff;
}

.footer {
  grid-area: footer;
  background: rgb(33, 33, 33);
  color: #fff;
  padding: 0.5rem;
}

.breadcrumb-item + .breadcrumb-item::before {
  content: " > ";
}

.breadcrumb {
  border-radius: 0 !important;
}

.navbar-toggler,
.navbar-toggler.collapsed {
  border-radius: 0 !important;
}

.btn {
  border-radius: 0 !important;
}